.header {
    background-color: #1f2937; 
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
   
}
.header-logo {
    color:#F9faf8;
    margin-right: auto;
    font-size: 24px;
    font: extra-bold;
}
.link {
    color: #e5e7eb;;
    margin-left: 32px;
    font-size: 18px;
}
.hero {
    display: flex;
    background-color: #1f2937; 
    padding-left: 100px;
    padding-right: 100px;
    height: 300px; 
    justify-content: space-between;
    margin-bottom: 10px;
    
}
.hero-left {
  display:flex;
  flex-direction: column;
  width: 400px;
  height: 190px;  
}
.hero-text {
    font-size: 48px;
    color:#F9faf8;
}
.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}
.button {
    color: #F9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    margin-top: 10px;
    text-align: center;
}
.hero-right {
    display: flex;
    width: 600px;
    height: 190px;
    background-color:	#C0C0C0;
    align-items: center;
    justify-content: center;
    
}
.image {
    height: 20px;
    justify-content: center;
}
.info {
    padding-left: 100px;
    padding-right: 100px;

}
.info-text {
    font-size: 36px;
   font-weight: bold;
   text-align: center;
   margin-bottom: 50px;
    
}
.boxes {
    display: flex;
    justify-content: space-between;
}
.box {
    border-radius: 15px;
    background: #3882f6;
    padding: 20px;
    width: 200px;
    height: 150px;
}
.small-box{
    border-radius: 15px;
    background: white;
    width: 200px;
    height: 155px;
}
.text{
    display: flex;
    font-size: 18px;
    justify-content: space-around;
}