.header {
    background-color: #1f2937; 
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
   
}
.header-logo {
    color:#F9faf8;
    margin-right: auto;
    font-size: 24px;
  
   
}
.link {
    color: #e5e7eb;;
    margin-left: 32px;
    font-size: 18px;
    
}
