.header {
    background-color: #1f2937; 
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
   
}
.header-logo {
    color:#F9faf8;
    margin-right: auto;
    font-size: 24px;
  
   
}
.link {
    color: #e5e7eb;;
    margin-left: 32px;
    font-size: 18px;
}
.hero {
    display: flex;
    background-color: #1f2937; 
    padding-left: 100px;
    padding-right: 100px;
   
}
.hero-left {
  width: 400px;
  height: 190px;
   
}
.hero-text {
    font-size: 48px;
    color:#F9faf8;

}
.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}
.button {
    background-color: #3882f6;
}
.hero-right {
    width: 400px;
    height: 190px;
}